{% extends "base.html" %}

{% block content %}

    <h1 style="text-align:center;">Add A Blog Entry</h1>
    <form method='post'>
        <label>
            Title for your new blog:
            <br>
            <input type="text" value="{{blog_title}}" name='blog_title' />
            <span class='err'> {{ title_error_message }}</span><br>
            <br>
            <br>
            <br>
            Your new blog:
            <br>
            <textarea rows="6" cols="25" name="blog_content">{{blog_content}}</textarea>
            <span class='err'> {{ content_error_message }}</span><br>
            <br>     
            <br>
            <br>  
            <input type="submit" value="Add Entry" />
        </label>
        
    </form>


    

           
{% endblock %}